Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.9.0
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
matplotlib==2.1.2
numexpr==2.6.4
numpy==1.14.0
numpydoc==0.7.0
odo==0.5.1
olefile==0.45.1
openpyxl==2.4.10
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
partd==0.3.8
path.py==10.5
pathlib2==2.3.0
patsy==0.5.0
pep8==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
pkginfo==1.4.1
pluggy==0.6.0
ply==3.10
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
tensorboard==1.9.0
tensorflow==1.9.0
tensorflow-tensorboard==0.4.0rc3
