{% extends "layout.html" %}

{% block content %}
<div class="col-lg-3">
  {% if error != Null %}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {% endif %}
  <form method="POST">
      Unweighted GPA: <input class="form-control" name="unweightedGPA" type="text" placeholder="out of 4.0"><br>
      Weighted GPA: <input class="form-control" name="weightedGPA" type="text" placeholder="out of 5.0"><br>
      SAT Math Score: <input class="form-control" name="SATMath" type="text" placeholder="out of 800"><br>
      SAT Reading Score: <input class="form-control" name="SATReading" type="text" placeholder="out of 800"><br>
      Class Rank: <input class="form-control" name="classRank" type="text" placeholder="out of the # of people in your class"><br>
      <input class="btn btn-primary" type="submit">
  </form>
</div>

{% endblock %}
