<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stanford.css') }}">
</head>

<body>

<nav class="navbar navbar-primary bg-primary">
  <a class="navbar-brand" href="#">
  <img src="{{ url_for('static',filename='img/cardinal.png') }}" width="190" height="50" alt="">
</a>
</nav>
<br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-2">
    <form method="POST">
        Unweighted GPA: <input class="form-control" name="unweightedGPA" type="text"><br>
        Weighted GPA: <input class="form-control" name="weightedGPA" type="text"><br>
        SAT Math Score: <input class="form-control" name="SATMath" type="text"><br>
        SAT Reading Score: <input class="form-control" name="SATReading" type="text"><br>
        Class Rank: <input class="form-control" name="classRank" type="text"><br>
        <input class="btn btn-primary" type="submit">
    </form>
  </div>
</div>
</body>

</html>
