<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .row {
    margin-left: 0px;
    margin-right: 0px;
    }
  </style>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <title>College Calculator Beta | Test Your Chances of Getting Into Harvard, Stanford, MIT, etc.</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81868222-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-81868222-4');
  </script>
  {% endblock %}
</head>

<body>

<nav class="navbar navbar-primary bg-primary">
  <a class="navbar-brand" href="/">
  <img src="{{ url_for('static',filename='img/collegecalculatorlogo.svg') }}" width="200" height="60" alt="beta">
  <a class="btn btn-lg btn-success" href="/chanceme">Chance Me</a>
</a>
</nav>
{% block landing_page %}{% endblock %}
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <hr>
      <img src="{{ url_for('static',filename='img/collegecalculatorlogo.svg') }}" width="200" height="60" alt="beta" class="center">
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

</body>

</html>
